/********************TAG SELECTOR*******************/
img{
  height: 100px;
  width: 100px;
}
body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: aquamarine;
    }
    
    header {
      background-color: #333;
      color: #fff;
      padding: 20px;
      text-align: center;
    }
    
    nav {
      background-color: #f4f4f4;
      padding: 10px;
    }
    
    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    nav ul li {
      display: inline-block;
      margin-right: 10px;
    }
    
    nav ul li a {
      color: #333;
      text-decoration: none;
      padding: 5px;
    }
    
    section {
      padding: 20px;
    }
    
    footer {
      background-color: aqua;
      text-align: center;
    }
/**************************CLASS SELECTOR********************/
.elementor-background-overlay{
  background-color: #001247;
    opacity: 0.6;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

    
